<footer>
    <div id="copyrights" class="background-green">

        <div class="container clearfix">

            <div class="col_full nobottommargin center">
                <div class="copyrights-menu copyright-links clearfix">
                    <a class="text-white" href="/">Home</a>/<a class="text-white" href="/about">About</a>/<a class="text-white" href="/jobs">Jobs</a>/<a class="text-white" href="/contact">Contact</a>
                </div>
                <p style="margin-bottom: 0" class="text-white">Copyrights &copy; 2019 All Rights Reserved by Targeted HR.</p>
                <p style="margin-bottom: 0" class="text-white">Website by <a class="text-white" href="https://www.chompsmedia.com">Chomps Media</a></p>
            </div>

        </div>

    </div><!-- #copyrights end -->
</footer>