<!DOCTYPE html>
<html dir="ltr" lang="en-US">

<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
	============================================= -->
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i|Roboto:300,400,500,700|Rubik:400,600"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/dark.css" type="text/css" />

    <!-- Real Estate Demo Specific Stylesheet -->
    <link rel="stylesheet" href="/css/real-estate.css" type="text/css" />
    <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
    <!-- / -->

    <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="/css/fonts.css" type="text/css" />

    <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/css/colors.php?color=2C3E50" type="text/css" />
    <link rel="stylesheet" href="/css/components/bs-datatable.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css">

    <!-- Document Title
	============================================= -->
    <title>Targeted HR</title>

    <style>
        .accordion.accordion-bg .acctitle,
        .accordion.accordion-bg .acctitlec {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
        }
    </style>

</head>