<%include partials/head.ejs%>

<body >

    <header>
        <%include partials/navbar.ejs%>
    </header>

    <section>
        <div id="top-about" class="container-fluid">


        </div>
    </section>


    <%include partials/scripts.ejs%>

</body>

</html>