<% include partials/head1.ejs %>

<body class="stretched side-push-panel">


    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <% include partials/navbar.ejs %>



        <!-- Content
		============================================= -->
        <section id="content">

            <div class="content-wrap nobottommargin nobottompadding top-about">

                <div class="container clearfix">

                    <div class="heading-block noborder mw-100">
                        <h2 class="mb-4">About Us</h2>
                        <p class="lead">Targeted HR Consulting started with a simple idea. Provide focused solutions to
                            ensure employee engagement and motivation thereby strengthening the bottom line. Whether it
                            is filling a specific position or crafting a comprehensive people-oriented workforce suite,
                            our team targets your needs for you. Targeted HR Consulting’s team has more than 20 years of
                            diverse experience to target your human resources needs.


                            <div class="row clearfix">
                                <div class="col-md-6 bottommargin">
                                    <div class="card shadow-card">
                                        <img class="card-img-top" src="images/img1.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Title 1 </h4>
                                            <p class="card-text mb-4">Some quick example text to build on the card title
                                                and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 bottommargin">
                                    <div class="card shadow-card">
                                        <img class="card-img-top" src="images/img2.jpg" alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Title 2</h4>
                                            <p class="card-text mb-4">Some quick example text to build on the card title
                                                and
                                                make up the bulk of the card's content.</p>

                                        </div>
                                    </div>
                                </div>
                            </div>

                    </div>

                    <div class="section mt-5 clearfix about-type1">
                        <div class="container clearfix">
                            <div class="row mw-100 clearfix">
                                <div class="col-md-5">
                                    <div class="heading-block nobottomborder">
                                        <h3 class="mb-3">Christian Hicks</h3>
                                    </div>

                                    <div class="accordion accordion-bg">
                                        <div class="acctitle"><i class="acc-closed text-white icon-line-plus"></i><i
                                                class="acc-open icon-line-minus"></i>Background</div>
                                        <div class="acc_content text-white clearfix">Starting in education and nonprofit
                                            administration, I have demonstrated a talent for improving processes,
                                            mapping strategic direction, and building plans to align HR with company
                                            growth and goals. Along with PHR, SHRM-CP, and MBA credentials, I bring
                                            extensive experience in regulatory compliance, FMLA, EEOC, ADA, ALSA,
                                            benefits, investigation, and audits. I am highly skilled at recruiting,
                                            developing, and retaining talent through innovative programs and
                                            partnerships. I integrate HR into the larger organization, complementing and
                                            supporting company priorities..</div>

                                        <div class="acctitle"><i class="acc-closed text-white icon-line-plus"></i><i
                                                class="acc-open icon-line-minus"></i>Industry</div>
                                        <div class="acc_content text-white clearfix">The human resources industry
                                            changes rapidly, and I take pride in my proactive approach to updating
                                            systems and integrating new laws and regulations into existing policies and
                                            procedures. I am also proactive in preparing HR for periods of company
                                            growth and expansion. I welcome connection with dynamic organizations poised
                                            for growth, and looking for an HR leader who is up to the challenge!</div>

                                        <div class="acctitle"><i class="acc-closed text-white icon-line-plus"></i><i
                                                class="acc-open icon-line-minus"></i>Career Hightlights</div>
                                        <div class="acc_content text-white clearfix ">
                                            Some highlights from my career include…

                                            <ul class="exception">
                                                <li class="text-white">Designed and developed multiple organization-wide
                                                    ATS and HRIS
                                                    applications.</li>
                                                <li class="text-white">Guided and grew an HR department during an
                                                    expansion from 180
                                                    employees
                                                    and $49M in revenue to 300 employees and $75M in revenue.</li>
                                                <li class="text-white">Increased employee diversity by 28.8% and reduced
                                                    turnover by 8%
                                                    through
                                                    improved diversity training programs, talent and recruiting
                                                    processes, and
                                                    employee development.</li>
                                            </ul>

                                        </div>

                                        <div class="acctitle"><i class="acc-closed text-white icon-line-plus"></i><i
                                                class="acc-open icon-line-minus"></i>Awards</div>
                                        <div class="acc_content text-white clearfix">I have enjoyed tremendous success
                                            in my career and have been nominated for numerous awards (Putting People
                                            First, Outstanding Corporate Citizenship, High Performance Culture). I am
                                            known as a trusted HR counselor to management for compliance questions,
                                            defining strategy, talent management, and identifying solutions. I look
                                            forward to providing the same high-quality services to your company!</div>
                                    </div>
                                </div>
                                <div class="col-md-6 ml-auto">
                                    <img src="images/img3.jpg" alt="Image" style="min-height: 100%">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="container clearfix">
                        <div class="heading-block noborder mw-100">
                            <h2 class="mb-4">Our Team</h2>
                            <p class="lead">Rerum morbi wisi purus illum, dolor consectetuer nulla, iusto eveniet? Fuga
                                rem
                                inventore scelerisque, wisi, hac illo wisi iste platea natus ante anim augue convallis.
                                Lacinia laoreet mus quisque repellat.</p>
                        </div>

                        <div class="row">

                            <div class="col-lg-6 col-12 bottommargin">

                                <div class="team team-list clearfix">
                                    <div class="team-image">
                                        <img src="images/team/3.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4>Mike Evans</h4><span>Property Consultant</span>
                                        </div>
                                        <div class="team-content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis
                                                repellat consequatur eaque commodi velit atque quis officia aspernatur
                                                autem!
                                            </p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-colored si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-colored si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-colored si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="col-lg-6 col-12 bottommargin">

                                <div class="team team-list clearfix">
                                    <div class="team-image">
                                        <img src="images/team/3.jpg" alt="John Doe">
                                    </div>
                                    <div class="team-desc">
                                        <div class="team-title">
                                            <h4>Mike Evans</h4><span>Property Consultant</span>
                                        </div>
                                        <div class="team-content">
                                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus inventore molestiae in temporibus magnam cumque quia mollitia, facere totam. Architecto!
                                            </p>
                                        </div>
                                        <a href="#" class="social-icon si-rounded si-small si-colored si-facebook">
                                            <i class="icon-facebook"></i>
                                            <i class="icon-facebook"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-colored si-twitter">
                                            <i class="icon-twitter"></i>
                                            <i class="icon-twitter"></i>
                                        </a>
                                        <a href="#" class="social-icon si-rounded si-small si-colored si-gplus">
                                            <i class="icon-gplus"></i>
                                            <i class="icon-gplus"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>


                </div><!-- .content-wrap end -->

        </section><!-- #content end -->

        <%include partials/footer.ejs%>



    </div><!-- #wrapper end -->

    <!-- Go To Top
	============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
	============================================= -->
    <script src="/js/jquery.js"></script>
    <script src="/js/plugins.js"></script>

    <!-- Footer Scripts
	============================================= -->
    <script src="/js/functions.js"></script>

</body>

</html>