<% include partials/head1.ejs %>

<body>

    <header>
        <% include partials/navbar.ejs %>

    </header>

    <section id="blog-section">
        <div class="row justify-content-center p-2">
            <div class="col-md-8 blog-section-box">
                <div class="blog-box">
                    <h1>blog title</h1>
                    <h3>Blog Tagline</h3>
                    
                </div>
            </div>
            <div class="col-md-4 blog-section-box">
                <div class="blog-box text-center">
                    <ul>
                        <li><h3><a href="">link to blog post</a></h3></li>
                        <li><h3><a href="">link to blog post</a></h3></li>
                        <li><h3><a href="">link to blog post</a></h3></li>
                        <li><h3><a href="">link to blog post</a></h3></li>
                        <li><h3><a href="">link to blog post</a></h3></li>
                        <li><h3><a href="">link to blog post</a></h3></li>
                        <li><h3><a href="">link to blog post</a></h3></li>
                        <li><h3><a href="">link to blog post</a></h3></li>

                    </ul>
                </div>
            </div>
        </div>
    </section>

</body>