<%include partials/head1.ejs%>

<body>
    
<header>
    <%include partials/navbar.ejs%>
</header>

<!-- Content
		============================================= -->
		<section id="content">

                <div class="content-wrap">
    
                    <div class="container clearfix">
    
                        <div class="single-post nobottommargin">
    
                            <!-- Single Post
                            ============================================= -->
                            <div class="entry clearfix">
    
                                <!-- Entry Title
                                ============================================= -->
                                <div class="entry-title">
                                    <h1><%=blog[0].post_title%></h1>
                                </div><!-- .entry-title end -->
    
                                <!-- Entry Meta
                                ============================================= -->
                                <ul class="entry-meta clearfix">
                                    <li><i class="icon-calendar3"></i><%=blog[0].post_create_date%></li>
                                </ul><!-- .entry-meta end -->
    
                                <!-- Entry Image
                                ============================================= -->
                                <div class="entry-image bottommargin">
                                    <a href="#"><img src="images/blog/full/10.jpg" alt="Blog Single"></a>
                                </div><!-- .entry-image end -->
    
                                <!-- Entry Content
                                ============================================= -->
                                <div class="entry-content notopmargin">
                                    <%=blog[0].content_path%>
    
    
                                    <div class="clear"></div>

    
                                </div>
                            </div><!-- .entry end -->
    
    
                        </div>
    
                    </div>
    
                </div>
    
            </section><!-- #content end -->

<%include partials/scripts%>

        </body>