<% include partials/head1.ejs %>

<body>

    <header>
        <% include partials/navbar.ejs %>

    </header>

    <section id="job-single-section">
        <div class="row justify-content-center p-2">
            <div class="col-10 justify-content-center d-flex p-3">
                <div id="job-single-box">
                    <h1>Job Title - Location - Salary</h1>
                    <h2>Start Date</h2>
                    <h3>Type</h3>
                    <p>Description - Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio ut sunt ex
                        impedit harum maxime voluptatum autem vitae! Atque ab aliquid voluptatibus, ducimus consequatur
                        eveniet est officia placeat esse unde distinctio aut nihil architecto fugit laboriosam nemo
                        necessitatibus dolor enim quasi. Hic eveniet similique amet officiis repellat aliquid?
                        Recusandae, inventore!</p>


                    <p>Contact</p>
                </div>
            </div>
        </div>
    </section>

</body>