*{  
    color: #272930;
}

:root {
    --ui-black:#272930;
    --ui-logo-green: #00a99d;
    --ui-logo-gray :#808080;
    --ui-gray:#8f9ca4;
    --ui-white: #f4f3f3;
}


.about-type1{
    background-color: var(--ui-logo-green) !important
}

.acctitle{
    background-color: var(--ui-logo-gray) !important;
    color: var(--ui-white);

}

a, li {
    text-decoration: none !important
}

ul{
    list-style-type: none;
}


#about-img{
    height:100%;
}

.background-green{
    background-color: var(--ui-logo-green) !important
}


.border-bottom-custom{
    border-bottom: 2px solid var(--ui-logo-green);
}

.button-margin{
    margin-right:auto;
    margin-left:1em;
}

.btn-success-custom{
    background-color: var(--ui-logo-green)
}


.shadow-card{
    box-shadow: 0 0.4rem 0.7rem 0.4rem rgba(0,169,157,.25);
}

.card-body a {
    color: var(--ui-black) !important;
    text-decoration: none !important;
}
.card-body a:hover {
    text-decoration: none !important;
    color: var(--ui-logo-green) !important;
}

.content-box{
    border: 1px solid var(--ui-logo-green)
}

a img {
    width: 16em;
}

.blog-box{
    height:100vh
}

#blog-section{
    background-color: var(--ui-logo-green) !important;
    height:auto;
    overflow: hidden;
}

.btn-custom{
    background-color: var(--ui-logo-green);
    border:none;
    border-radius: 0;
    width: 13.2em;
}

.change-form {
    margin-left:-20px
}

.text-green{
    color:var(--ui-logo-green) !important
}

#cover {

    height: 100vh;
    position: absolute;
    background-image: url('/images/landingimg.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 100%;
    margin-top:-7em;
    z-index: 1;
    overflow: hidden;
}

@media(max-width:991px){
    #cover{
        height:150vh
    }
}
@media(max-width:400px){
    #cover{
        height:200vh
    }
}

.custom-bar{
    min-height: 6em;
    background-color: transparent !important;
    z-index: 2;
    border-bottom: 2px solid var(--ui-logo-green)
}

.custom-card{
    border-radius:0;
    margin:0.2em;
    text-transform: uppercase;
    background-color: var(--ui-white);
    
}

.exception{
    list-style-type: circle
}

#first-about{
    height: 80vh;
}

.form-control1:focus{
    box-shadow: 0 0.4rem 0.7rem 0.4rem rgba(0,169,157,.25);
    border:none;
}

.form-control-custom{
    border-radius: 0
}


.jobs-table{
    background-color: var(--ui-white) !important
}

#jobs-image-table{
    background-size: contain;
    background-position: center;
}
#jobs-image-section{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat
}

#job-single-section {
    background-color: var(--ui-white) !important;
    height:auto;
    overflow: hidden;
}


#job-single-box{
    height: 80vh;
    width:75%;
}


#landingBrand{
    z-index: 1000;
}

#landingCards{

    z-index: 3;
    position: relative;
    opacity: 0.85;
    border-radius: 0;
    margin-top: 5em;

}

#landingImgContainer{
    height:10em
}

#landingImgContainer img{
    max-width: 80%;
    min-width: 60%;
}

#landingPage{
    height:auto;
    overflow: hidden;
}

.layer {
    background-color: rgba(0, 169, 157,0.3);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.top-about{
    background-color: var(--ui-white) !important;
}

.margin-b-2{
    margin-bottom: 1.9em
}


.navbar-nav-custom{
    font-size: 1.3em;
    margin-left: auto
}

.standard-background{
    background-color:var(--ui-white) !important;
}

.text-black{
    color: var(--ui-black) !important;
}

.text-white{
    color: var(--ui-white);
}

.text-logo{
    color: var(--ui-logo-green);
}

ul li a{
    color: var(--ui-black) !important;
    font-weight: 400;
}
ul li a:hover{
    color: var(--ui-logo-green) !important;
    font-weight: 600;
}

.white-space-pre {
    white-space: pre-wrap;
}
